<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Currículo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Currículo</h1>

        <div class="card">
            <p><strong>Nome:</strong> <span>{{ nome }}</span></p>
            <p><strong>Endereço:</strong> <span>Belo Horizonte - MG</span></p>
            <p><strong>Ocupação:</strong> <span>Estudante</span></p>
            <p><strong>Educação:</strong> <span>Ensino Médio em andamento</span></p>
        </div>
    </div>

</body>
</html>